.QuestionColumnContainer {
  flex: 1;
  &_Header {
    margin-right: 10px;
    font-family: fantasy;
    font-size: 24px;
    text-align: center;
    color: #950740;
    white-space: nowrap;
  }
  &_Column {
    color: #6f2232;
    margin-right: 10px;
    font-family: cursive;
    font-size: 32px;
    text-align: center;
  }
}