.QuestionItem {
  background: #1a1a1d;
  border-radius: 6px;
  padding: 30px;
  margin: 4px;
  border-style: double;
  border-color: #c3073f;

  &[data-clickable='true'] {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: .2s ease-in-out all;
    }
  }
  &[data-answered='true'] {
    cursor: default;
    background-color: gray;
  }
}